.themeToggleButton {
  appearance: none;
  border: 0;
  height: 100%;
  padding: 0 0.5rem;

  background-color: transparent;
  color: var(--text-color);

  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: var(--item-hover-bg);
  }
}