.file {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.375rem;

  padding-block: 0.25rem;
  padding-left: 2.5rem;
  color: var(--text-color);
}

.file:hover {
  background-color: var(--item-hover-bg);
}