/* Base Styles */
* {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
}

:root {
  --color-canvas-default: #ffffff;
  --color-canvas-inset: #f6f8fa;
  --border-color: #e1e4e8;
  --item-hover-bg: rgba(0, 0, 0, 0.060);
  --close-button-hover-color: rgba(184, 184, 184, 0.31);
  --text-color: rgb(32, 33, 34);
  --text-muted: rgb(99, 99, 99);

  --kbd-bg: rgba(221, 221, 221, 0.4);
  --kbd-shadow: rgba(0, 0, 0, 0.16);
  --kbd-border: rgba(187, 187, 187, 0.4);

  --search-focus-border: #3b82f6;
  --search-focus-shadow: rgba(59, 130, 246, 0.5);
  --color-popover: #f0efef;

  --primary: #009689;
  --primary-hover: #00786f;
  --error: #fb2c36;
  --white: #ffffff;
}

[data-theme="dark"] {
  --color-canvas-default: #24292e;
  --color-canvas-inset: #1f2428;
  --border-color: #1b1f23;
  --close-button-hover-color: rgba(90, 93, 94, 0.31);
  --text-color: rgb(225, 228, 232);
  --text-muted: rgb(161, 165, 170);
  --item-hover-bg: rgba(255, 255, 255, 0.12);

  --kbd-bg: rgba(128, 128, 128, 0.17);
  --kbd-shadow: rgba(0, 0, 0, 0.36);
  --kbd-border: rgba(68, 68, 68, 0.6);
  --color-popover: #191d20;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;

  background-color: var(--color-canvas-default);
  color: var(--text-color);

  &[data-font="jetbrains-mono"] {
    font-family: "JetBrains Mono", monospace;
  }

  &[data-font="space-mono"] {
    font-family: "Space Mono", monospace;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

/* Helpers */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* Dialog Styles */
.dialog-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.dialog-content {
  background-color: var(--color-canvas-default);
  border-radius: 0.375rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: min(90vw, 600px);
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);

  &:focus {
    outline: none;
  }

  @media (width <=800px) {
    padding: 1rem 0.5rem;
  }
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }

  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

/* Popover Styles */
.popover-content {
  min-width: 220px;
  background-color: var(--color-popover);

  border-radius: 6px;
  padding: 0.5rem;
}

.popover-radio-item {
  font-size: 0.875rem;
  line-height: 1;
  color: var(--text-color);
  border-radius: 3px;
  display: flex;
  align-items: center;
  height: 2rem;
  padding: 0 0.375rem;
  padding-left: 2rem;
  user-select: none;
  outline: none;
  position: relative;

  &[data-highlighted] {
    background-color: var(--item-hover-bg);
  }
}

.popover-item-indicator {
  position: absolute;
  left: 0;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--primary);
}

.popover-arrow {
  fill: var(--color-popover);
}