.statusBar {
  height: 32px;
  width: 100%;

  background-color: var(--color-canvas-default);
  border-top: 1px solid var(--border-color);

  position: fixed;
  bottom: 0;
  left: 0;

  display: block;

  @media (width < 800px) {
    display: none;
  }
}

.statusBarContainer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.25rem;
}

.statusBarTrigger {
  appearance: none;
  border: 0;

  height: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0 1rem;

  background-color: transparent;
  color: var(--text-color);
  font-size: 0.875rem;

  &:hover {
    background-color: var(--item-hover-bg);
  }
}